@import "normalize.styl"
@import "fonts.styl"
@import url(http://fonts.googleapis.com/css?family=Istok+Web)
@import url(http://fonts.googleapis.com/css?family=Montserrat)
@import url(http://fonts.googleapis.com/css?family=Marko+One)
@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption)
@import url(http://fonts.googleapis.com/css?family=Esteban)



 azul = #00A0B0
 rojo = #EB6841
 azul_claro = #0097A7 
 cafe = #6A4A3C
 
 // tabla de curso en linea
  .container th h1 
    font-weight  bold
    font-size  1em
    font-family Istok Web 
    text-align  center
    color  cafe
  .container td 
    font-weight normal
    font-size 1em
    padding .5em
    -webkit-box-shadow 0 2px 2px -2px #0E1119
    -moz-box-shadow 0 2px 2px -2px #0E1119
    box-shadow 0 2px 2px -2px #0E1119

  .container 
    text-align left
    overflow hidden
    width 80%
    margin 0 auto
    display table
    padding 0 0 8em 0
  
  .container td, .container th 
    padding-bottom  2%
    padding-top  2%
    padding-left 2%  
  .container tr:nth-child(odd) 
    background-color azul
  .container tr:nth-child(even) 
    background-color azul_claro
  .container th 
    background-color rojo
  .container td:first-child 
    color white
    
  .container tr:hover 
   background-color  azul
   
   -webkit-box-shadow  0 6px 6px -6px #0E1119
   -moz-box-shadow  0 6px 6px -6px #0E1119
   box-shadow  0 6px 6px -6px #0E1119
  
  .container td:hover 
   background-color  #FFF842
   color  #403E10
   font-weight  bold
  
   box-shadow  #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px
   transform  translate3d(6px, -6px, 0)
   transition-delay  0s
   transition-duration  0.4s
   transition-property  all
   transition-timing-function line

 
        
  
 //menu
#NavStrip 
  position  relative
  display  block
  list-style-type  none
  margin 0
  padding 0
  background-color  azul
  
  
#NavStrip ul
  text-align center
  
#NavStrip li 
  display inline-block
  background-color azul
  border-radius
  width 15%
  list-style none 
  color white 
  font-size 150%
  
#NavStrip li a 
  display block 
  padding 15px 
  text-decoration none
  color white
  -webkit-transition 0.5s
  -moz-transition 0.5s
  -o-transition 0.5s
  -ms-transition 0.5s
  transition 0.5s
#NavStrip li a:hover 
  color #fff
  text-shadow -1px 1px 5px azul, 1px -1px 5px azul
  background-color rojo
#NavStrip ul li 
  padding 0px 

#NavStrip label 
  display none
#menu-toggle 
  display none
  
@media all and (max-width:700px) and (min-width:0px)
 #NavStrip 
   text-align right
 #NavStrip label 
   display  block
   height 50px
   width 50px
   line-height 50px
   text-align center
   color white
   font-size 150%
   background-color rojo
   cursor pointer
   
 #NavStrip #nav 
   display none

#menu-toggle:checked + #nav 
   display block
#NavStrip label:active #nav
   display none


// galeria de banner
@keyframes baner 
 0%  
   left 0% 
 20%  
   left 0% 
 25%  
   left -100% 
 45%  
   left -100% 
 50%  
   left -200% 
 70%  
   left -200% 
 75%  
   left -300% 
 90%  
   left -300% 
 95%
   left -400%
 100%  
   left -400% 

body figure  
  margin 0 
  background #101010
  font-family Istok Web sans-serif
  font-weight 100
  
div#captioned-gallery 
  width 100% 
  overflow hidden

.slider  
  position relative 
  width 500%
  font-size 0 
  -webkit-animation 40s baner infinite 
  -moz-animation 40s baner infinite
  -o-animation 40s baner infinite
  -ms-animation 40s baner infinite
  animation 40s baner infinite
  -webkit-animation-play-state  running

//.slider:hover
  //-webkit-animation-play-state  paused
    
figure.slider figure  
  width 20% 
  height auto
  display inline-block  
  position inherit 

figure.slider img 
  width 100% 
  height auto 

figure.slider figure figcaption 
  position absolute 
  bottom 0
  width 100%
  font-size 2rem 
  padding .6rem 


a
 text-decoration none
    
body 
 background white
 font-size 16px
 margin 0
.foot
 color white
 font-family PT Serif Caption   
 
.descript
 color white
 font-size 1.2em
 font-family PT Serif Caption
 text-decoration  none
 text-align left
 line-height 2em
 word-spacing .3em
 
.description
 background azul
        
h1 
 color azul_claro
 font-size 1.7em
 font-family Istok Web
 font-weight normal
 text-align center

 
.imagen
    margin 0 0
     
header
    background white
    overflow hidden
    padding 3em  0  1em 0
    position relative
    
#logo
    margin 2em 0 0 0
    position absolute
    right 0
    top  0
    

header #logo img 
    width 67px
    border-radius 50%
    
          
footer
    background azul
    color white
    margin 1em 0
    padding 1em 0
    text-align center
    position relative
    
        
.contenido
    font-size 0.8em
    margin 1em 0
    padding 1em
    text-align center
    
.boton-menu
    color rojo
    font-size 2em
    left .5em
    margin-top -10px
    position absolute
    top 45%

    
.banner 
    &.small
        width 320px
        
        
       
        
.centrado
    text-align center   
    
.relative
    position relative
    

        
.margin-left
    margin-left 2em
    padding 0 1em
    
.margin-rigth
    margin-rigth 2em
    
        

      
#contac
    background rojo
    border-radius 5px
    box-shadow rgba(0,0,0,0.5) 5px 5px 20px
    font-style italic
    padding 0.6em 0.8em
    text-shadow rgba(0,0,0,0.5) 2px 2px 5px
    font-size 2.5em
    font-family Istok Web
    display inline-block
    margin 0 0.5em .5em .5em
#contac a
    color white
            
.plataforma
    border-radius 3px
    font-size 1.2em
    background  azul
    margin 0 3em 
    padding 0.5em 1em 0 1em
    width 152px
    list-style none
.plataforma p
    font-size 1.1em
    font-family Istok Web
    font-weight bold 
    color white
   
.icon-display
    font-size 5em
    padding 0 .3em
.icon-book
    font-size 5em
    padding 0 .3em
.icon-newspaper
    font-size 5em
    padding 0 .3em
.icon-library
    font-size 5em
    padding 0 .3em
                   
.icon-checkmark
  padding .8em
.cursos
    border-radius 3px
    font-size 1.2em
    background  rojo
    margin 0 3em 
    padding 0.5em 1em 0 1em
    width 152px
    list-style none
.cursos p
    font-size 1.1em
    font-family Istok Web
    font-weight bold
    color white 
    
.icon-books
    font-size 5em
    padding 0 .3em

.redes
    margin 0 12em 0 0
    border-right 1px solid white
    font-family PT Serif Caption
   
    
.info
    float right
    top 0
    right 0
    margin 1.4em .5em 0 0
    position absolute
    font-family PT Serif Caption
    
    
    
.icon-facebook
    margin 0 2em 0 0 
    
.icon-twitter
    margin 0 1.5em 0 0
        
.info a
    color white
    

.redes a
  color white           
  
 @media screen and (min-width:600px)

 .banner
     &.medium
         width auto
         margin 0 1em 0 1em
         
 .banner
     img
         width 100%
 header #logo img 
    width 100px
    border-radius 50%  
          
 h1
     color azul
     text-align center
     font-family Istok Web 
     font-size 2.4em
 .promos
     margin 20px 0 0
     padding 0
     display flex
     justify-content space-around
     text-align center
           
 .plataforma
     background azul
     margin 0
     display inline-block
     max-width 152px
     width auto
     justify-content space-around
     
          
 .cursos
    background rojo
    margin 0
    max-width 152px
    display inline-block
    
    
 .redes
   margin 0 20em 0 0

   border-right 1px solid white
   
 .info
    right 8em
 li
   display block 
 .cuenta
   color rojo
   font-family Istok Web
   font-size 1.5em 
 .nombre
   font-size 1.5em      
@media screen and (min-width:1000px)
 
 body
     background white
 .redes
   margin 0 25em 0 0

   border-right 1px solid white
   
 .info
    right 13em
 header #logo img 
    width 140px
    border-radius 50%   
 h1
     color azul
     text-align center
     font-family Istok Web 
     font-size 3em    
        
 // estilos para la pagina de plat

h3
  color rojo
  font-size auto
  font-famil  PT Serif Caption
 
 p
   color cafe
   font-family PT Serif Caption
   font-size 1.2em
   
 .cuenta
   color rojo
   font-family Istok Web
   font-size 1.2em 
 .nombre
   color rojo
   font-family Istok Web
   font-size 1.5em 
 .correo
   color rojo
   font-family Istok Web
   font-size 1.5em 
 h2
   color azul
   font-size 2em
   font-family Istok Web 
   text-align center    
 .plata
   line-height 2em
   word-spacing .3em
 .cont 
   color azul
   font-family Istok Web
   font-size 1.5em 
   text-align center       
 .icon-spell-check
   font-size 1.5em
   
 // estilos de la pagina contactanos
  
.fa:before 
  display inline-block
.contact li 
  display  inline-block 
  list-style-type  none
  margin  0 1em
  text-align  center
.contact p  
  text-align center
.contact  
  display inline-block 
  margin 0 auto 
  padding-left 0
.container  
  text-align: center

.icon-bubbles2  
  font-size 3em
.icon-phone-hang-up
  font-size 3em
.icon-location
  font-size 3em  

 
    
    
                
   
 


    
