@import "normalize.styl"
@import "fonts.styl"

 azul = #00A0B0
 rojo = #EB6841
 azul_claro = #3B404C
 cafe = #6A4A3C
 
a
 text-decoration none
    
body 
 background white
 font-size 16px
        
h1 
 color azul
 font-size 1.2em
 font-weight normal
 margin 0 1em 0 1em
 
    
header
    background white
    overflow hidden
    padding 3em  0  3em 4.6em
    position relative
    
#logo
    margin .5em 0 1.5em 0
    position absolute
    right 0
    top 0

header #logo img 
    width 108px
    border-radius 80px
            
footer
    background azul
    color white
    margin 1em 0
    padding 1em 0
    text-align center
    position relative
        
.contenido
    font-size 0.8em
    margin 1em 0
    padding 1em
    text-align center
    
.boton-menu
    color rojo
    font-size 2em
    left .5em
    margin-top -10px
    position absolute
    top 40%
    
.banner 
    &.small
        width 320px
       
        
.centrado
    text-align center   
    
.relative
    position relative
    

        
.margin-left
    margin-left 2em
    padding 0 1em
    
.margin-rigth
    margin-rigth 2em
    
        
.description
    font-size 1.2em
    background azul
      
#contac
    background rojo
    border-radius 5px
    box-shadow rgba(0,0,0,0.5) 5px 5px 20px
    font-style italic
    padding 0.6em 0.8em
    text-shadow rgba(0,0,0,0.5) 2px 2px 5px
    font-size 2.5em
    display inline-block
    margin 0 0.5em .5em .5em
        
.plataforma
    border-radius 3px
    font-size 1.2em
    background  azul
    margin 0 5em 
    padding 0.5em 1em 0 1em
    width 152px
    
.icon-display
    font-size 5em
    padding 0 .3em  

.cursos
    border-radius 3px
    font-size 1.2em
    background  rojo
    margin 0 5em 
    padding 0.5em 1em 0 1em
    width 152px
    
.icon-books
    font-size 5em
    padding 0 .3em

.redes
    border-right 1px solid white
    width 180px
    top 0
    
.info
    float right
    top 0
    right 0
    margin 1.4em .5em 0 0
    position absolute
    
.icon-facebook
    margin 0 2em 0 0 
    
.icon-twitter
    margin 0 1.5em 0 0
        
.info a
    color white
    

.redes a
  color white           
  
 @media screen and (min-width:480px)

 .banner
     &.medium
         width auto
         margin 0 1em 0 1em
         
 .banner
     img
         width 100%
         
 h1
     color azul
     font-size 3.2em
     text-align center
    
            
 .conten
     &.medium
    
       background black
       
    
 .plataforma
     background red
     right 0
   
     
 .cursos
    background red
    position  absolute
    


    
    
    
    
     
     
      
 
@media screen and (min-width:1000px)
 
 body
     background red   
    
     
        
  
      
 
 
     

        

           


 
    
    
                
   
 


    
